body{
    margin:0;
    background:linear-gradient(135deg,#d8d2b6,#f4efd6);
    font-family:Geneva,Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* windows */

.window{
    width:850px;
    background:#f8f3dd;
    border:4px solid #222;
    box-shadow:10px 10px 0 #222;
}

.bar{
    background:#222;
    color:white;
    padding:12px;
    font-weight:bold;
}

.content{
    padding:30px;
    text-align:center;
}

/* boot */

.terminal{
    background:black;
    color:#33ff66;
    padding:40px;
    width:700px;
    font-family:monospace;
}

.hidden{display:none}

/* corners */

.corners{
    display:grid;
    grid-template-columns:1fr 1fr;
    width:220px;
    margin:30px auto;
    gap:15px;
}

.corner{
    width:100px;
    height:100px;
    background:#ddd;
    border:3px solid #444;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    cursor:pointer;
    transition:0.2s;
}

.corner:hover{
    background:#bbb;
    transform:scale(1.05);
}

.hint{
    margin-top:20px;
    font-style:italic;
    color:#444;
}

/* fail */

.crash{
    padding:50px;
    text-align:center;
}

/* win */

.win{
    padding:40px;
    text-align:center;
}

button{
    padding:12px 25px;
    font-size:16px;
    cursor:pointer;
    margin-top:20px;
}
